@use "../../style/variables.scss" as *;

.burger {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 24px 12px;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    background-color: $yellow;
    cursor: pointer;
    z-index: 2;

    @media (min-width: $vp-768) {
        display: none;
    }

    span {
        background: $black;
        height: 1.6px;
        width: 28px;
        display: block;
        position: relative;
        transition: all ease 0.2s;

        &::before,
        &::after {
            background: $black;
            height: 1.6px;
            width: 28px;
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 7px;
            transition: all ease 0.2s;
        }

        &::before {
            top: -7px;
        }
    }

    &.open {
        background-color: transparent;
    }

    &.open span {
        background: transparent;
    }

    &.open span::before {
        transform: rotate(45deg);
        top: 0;
    }

    &.open span::after {
        transform: rotate(-45deg);
        top: 0;
    }
}