// Colors
// ---------------------------------

$white: #fff;
$black: #000;
$dark: #363531;
$medium-gray: #c7c7c7;
$light-gray: #d6d6d6;
$taup: #ebebeb;
$taup-2: #fffcf7;
//$yellow: #ebda5b;
$yellow: #FFD35F;
$yellow-brown: #f7df9c;

$dark-t5: rgba(94, 93, 90, 0.822);


// Viewports
// ---------------------------------

$vp-360: 360px;
$vp-620: 620px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1440: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;

// Font-size
// ------------------------------------

$min-font-size: 16px;
$max-font-size: 26px;
$min-screen-size: 320px;
$max-screen-size: 1440px;

//---------------------------------------

$scroll-bar-width: 17px;