@use "../../style/variables.scss" as *;

.gray-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-t5;
    // z-index: 1;
    display: none;

    &.open {
        display: block;
        overflow: hidden;
    }
}