@use "../../style/variables.scss" as *;

.footer {
    margin-top: auto;
    min-height: 80px;
    padding: 20px 0;
    text-align: center;
    background-color: $dark;
    color: $white;
    font-size: 18px;
    font-weight: 500;
}